@font-face {
    font-family: "flaticon";
    src: url("../font/flaticon.ttf") format("truetype"),
url("../font/flaticon.woff") format("woff"),
url("../font/flaticon.woff2") format("woff2"),
url("../font/flaticon.eot") format("embedded-opentype"),
url("../font/flaticon.svg") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-loupe:before {
    content: "\f101";
}
.flaticon-magnifying-glass:before {
    content: "\f102";
}
.flaticon-add:before {
    content: "\f103";
}
.flaticon-plus:before {
    content: "\f104";
}
.flaticon-girl:before {
    content: "\f105";
}
.flaticon-virgo:before {
    content: "\f106";
}
.flaticon-boy:before {
    content: "\f107";
}
